<div class="p-4">
      @for (row of formService.rows(); track row.id) {
        <div
          class="relative ps-10 p-5 pt-2 bg-white rounded-lg mb-4 border-2 border-dashed border-gray-200"
          cdkDropList
          [cdkDropListData]="row.id"
          (cdkDropListDropped)="onDropInRow($event, row.id)"
          [cdkDropListOrientation]="'mixed'"
          [style.view-transition-name]="'row-' + row.id"
        >
          <!-- Row controls -->
          <div class="flex justify-between items-center">
            <div class="flex items-center gap-1">
              <span class="text-primary">Row</span>
            </div>
            <button
              mat-icon-button
              aria-label="Delete row"
              class="hover:!text-error hover:!bg-error-container/50"
              (click)="formService.removeRow(row.id)"
            >
            <i class="pi pi-times"></i>

            </button>
          </div>

          <!-- Fields in the row -->
          <div class="flex gap-4 flex-wrap">
            @for (field of row.fields; track field.id) {
              <app-form-field
                class="flex-1"
                cdkDrag
                [cdkDragData]="field"
                [field]="field"
                [style.view-transition-name]="'field-' + field.id"
                [style.view-transition-class]="'field-transition'"
              />
            } @empty {
              <div
                class="bg-background w-full p-4 border border-dashed border-primary-container rounded text-center text-gray-400"
              >
                Drag and drop form elements here
              </div>
            }
          </div>

          <div
            class="absolute left-0 flex gap-0 flex-col top-1/2 -translate-y-1/2"
          >
            <button
              mat-icon-button
              aria-label="Move row up"
              (click)="formService.moveRowUp(row.id)"
              [disabled]="$first"
            >
              <i class="pi pi-chevron-up cursor-pointer"></i>

            </button>
            <button
              mat-icon-button
              aria-label="Move row down"
              (click)="formService.moveRowDown(row.id)"
              [disabled]="$last"
            >
             <i class="pi pi-chevron-down"></i>
            </button>
          </div>
        </div>
      }
    </div>