  <!-- Header Navigation -->
  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-left">
            
               <div class="logo">
      <img src="assets/avidia.jpg" alt="Avidia Logo" class="logo-img">
    </div>
           
        <div class="nav-items">
          <a class="nav-item" [class.active]="activeTab() === 'Home'" (click)="navigateTo('/home')">Home</a>
          <a class="nav-item" [class.active]="activeTab() === 'My HR'" (click)="navigateTo('/Surveys-employee')">My HR</a>
          <a class="nav-item" [class.active]="activeTab() === 'My Leave'" (click)="navigateTo('/My Leave')">My Leave</a>
          <a class="nav-item" [class.active]="activeTab() === 'My Expenses'" (click)="navigateTo('/My Expenses')">My Expenses</a>
          <a class="nav-item" [class.active]="activeTab() === 'My Time'" (click)="navigateTo('/My Time')">My Time</a>
          <a class="nav-item" [class.active]="activeTab() === 'My Payroll'" (click)="navigateTo('/My Payroll')">My Payroll</a>
         <a class="nav-item" [class.active]="activeTab() === 'My Talent'" (click)="navigateTo('/My Talent')">My Talent</a>
          <a class="nav-item" [class.active]="activeTab() === 'Employees'" (click)="navigateTo('/Employees')">Employees</a>
          <a class="nav-item" [class.active]="activeTab() === 'Reports'" (click)="navigateTo('/Reports')">Reports</a>
        </div>
      </div> 
      <div class="navbar-right">
            <div class="nav-icon">⚡</div>
            <div class="nav-icon">+</div>
            <!-- Button that opens the dropdown -->
<button pButton type="button" icon="pi pi-th-large"
        class="p-button-rounded p-button-text"
        (click)="toggleMenu($event)">
</button>

<!-- PrimeNG Dropdown Menu -->
<p-tieredMenu #menu [model]="items" popup="true"></p-tieredMenu>

            <div class="user-avatar">ST</div>
      </div>
    </div>
  </nav>

