<div class="flex flex-col h-screen bg-gray-100 bg-background px-4">

       <div class="flex flex-1 relative bg-background" cdkDropListGroup>
        <app-form-elements-menu class="w-64" />
        <app-main-canvas class="flex-1" />
        <app-field-settings class="w-64" />
        <!--<button
          class="compact-button !absolute -top-[50px] right-0 z-10 [view-transition-name:export-button]"
          mat-flat-button
          (click)="formService.exportForm()"
        >
          Export Form
          <mat-icon>download</mat-icon>-
        </button>
      </div> -->
    </div>
</div>