<div class="flex flex-col gap-2">
      <label class="text-gray-700">{{ field().label }}:</label>
      <div
        [class]="
          field().orientation === 'horizontal'
            ? 'flex gap-4'
            : 'flex flex-col gap-2'
        "
      >
        @if (field().options) {
          @for (option of field().options; track option.value) {
            <div class="flex items-center">
              <p-radioButton
                name="radioGroup"
                [value]="option.value"
                [inputId]="option.value"
               
              ></p-radioButton>
              <label [for]="option.value" class="ml-2">{{ option.label }}</label>
            </div>
          }
        } @else {
          <div class="flex items-center">
            <p-radioButton name="radioGroup" value="option1" inputId="option1"></p-radioButton>
            <label for="option1" class="ml-2">Option 1</label>
          </div>
          <div class="flex items-center">
            <p-radioButton name="radioGroup" value="option2" inputId="option2"></p-radioButton>
            <label for="option2" class="ml-2">Option 2</label>
          </div>
          <div class="flex items-center">
            <p-radioButton name="radioGroup" value="option3" inputId="option3"></p-radioButton>
            <label for="option3" class="ml-2">Option 3</label>
          </div>
        }
      </div>
    </div>