<div class="summary-section" >
  <div class="summary-row">
    <div class="summary-card card-gray">
      <div class="label">Start Date</div>
      <div class="value">{{ startdate | date: 'shortDate' }}</div>
    </div>

    <div class="summary-card card-gray">
      <div class="label">Due Date</div>
      <div class="value">{{ enddate | date: 'shortDate' }}</div>
    </div>

    <div class="summary-card card-blue">
      <div class="label">Total Employees</div>
      <div class="value">{{ stats?.totalEmployees ?? 0 }}</div>
    </div>

    <div class="summary-card card-green">
      <div class="label">Responded</div>
      <div class="value">{{ stats?.responded ??0}}</div>
    </div>

    <div class="summary-card card-yellow">
      <div class="label">In Progress</div>
      <div class="value">{{ stats?.inProgress ??0}}</div>
    </div>

    <div class="summary-card card-pink">
      <div class="label">Not Opened</div>
      <div class="value">{{ stats?.notOpened??0 }}</div>
    </div>
  </div>
</div>