 <div
      class="p-4 bg-white rounded-lg h-[calc(100vh-150px)] overflow-y-auto border-r border-gray-200 shadow-sm"
      
    >
      <h2 class="text-xl font-medium mb-4 text-primary">Form Elements</h2>
      <div
        cdkDropList
        [cdkDropListEnterPredicate]="noDropAllowed"
        [cdkDropListData]="'field-selector'"
        cdkDropListSortingDisabled="true"
        class="flex flex-col gap-4 elements-menu"
       
      >
        @for (field of fieldTypes; track field.type) {
          <app-field-button [field]="field" />
        }
      </div>
    </div>