  <!-- Header Navigation -->
  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-left">
            
               <div class="logo">
      <img src="assets/avidia.jpg" alt="Avidia Logo" class="logo-img">
    </div>
           
        <div class="nav-items">
          <a class="nav-item" [class.active]="activeTab() === 'surveys'" (click)="navigateTo('/surveys')">Surveys</a>
          <a class="nav-item" [class.active]="activeTab() === 'history'" (click)="navigateTo('/history')">History</a>
          <a class="nav-item" [class.active]="activeTab() === 'templates'" (click)="navigateTo('/active-templates')">Templates</a>
        </div>
      </div> 
      <div class="navbar-right">
            <div class="nav-icon">⚡</div>
            <div class="nav-icon">+</div>
            <!-- Button that opens the dropdown -->
<button pButton type="button" icon="pi pi-th-large"
        class="p-button-rounded p-button-text"
        (click)="toggleMenu($event)">
</button>

<!-- PrimeNG Dropdown Menu -->
<p-tieredMenu #menu [model]="items" popup="true"></p-tieredMenu>

            <div class="user-avatar">ST</div>
      </div>
    </div>
  </nav>

