 <div>
      <div class="flex items-center justify-between">
        <h3 class="font-medium text-gray-700">{{ title() }}</h3>
        <button mat-icon-button (click)="addOption()">
         <i class="pi pi-plus-circle"></i>

        </button>
      </div>

      <div class="flex flex-col gap-2 mb-4 mt-2">
        @for (option of options(); track option.value; let i = $index) {
          <div class="flex items-center">
            <div class="flex-1 compact p-inputgroup"> <!-- Replaces mat-form-field -->
  <input
    pInputText
    [ngModel]="option.label"
    (ngModelChange)="updateOption(i, $event)"
    class="w-full"
  />
</div>
            <button mat-icon-button (click)="removeOption(i)">
             <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-text"></p-button>

            </button>
          </div>
        }
      </div>
    </div>