
 .actions-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.actions-btn:hover {
  background-color: #0056b3;
}
.cancel{
  background-color: #f1f2f3;
  color: #007bff;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cancel:hover {
  background-color: #0056b3;
}
.filter-dropdowns {
  display: flex;
  gap: 16px;
  margin-left: 616px;
  
}

.dropdown-wrapper {
  position: relative;
}

