 <div
      class="bg-white p-4 pt-1 rounded-lg shadow-sm border border-gray-200 hover:border-primary cursor-pointer {{
        formService.selectedField()?.id === field().id
          ? 'border-primary! !bg-background'
          : ''
      }}"
      (click)="formService.setSelectedField(field().id)"
    >
      <div class="flex items-center justify-between mb-1">
        <span class="text-sm">{{ field().type | titlecase }}</span>
        <button
          mat-icon-button
          (click)="onDelete($event)"
          class="-mr-2 hover:!text-error hover:!bg-error-container/50"
        >
          <i class="pi pi-trash"></i>

        </button>
      </div>

      <div class="cursor-pointer">
        <app-form-field-preview [field]="field()" />
      </div>
    </div>