<div class="sub-navbar">
  <div class="sub-nav-card">
    <div class="sub-nav-items">
      <div class="navbar-content">
        <div class="nav-items">
          <a class="nav-item"
             [class.active]="activeTab() === 'Active Templates'"
             (click)="navigateTo('/active-templates')">
            Active Templates
          </a>

          <a class="nav-item"
             [class.active]="activeTab() === 'Inactive Templates'"
             (click)="navigateTo('/inactive-templates')">
            Inactive Templates
          </a>

          <a class="nav-item"
             [class.active]="activeTab() === 'Preferences'"
             (click)="navigateTo('/preferences')">
            Preferences
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
